.bda-order-details .bda-order-details-customer-detail {
	width: 100%;
	margin-bottom: 20px;
}
.bda-order-details .bda-order-details-customer-detail > div {
	margin-bottom: 10px;
}
.bda-order-details .bda-order-details-customer-detail .bda-order-details-customer-detail-label {
	font-weight: bold;
}
.bda-order-details .bda-order-details-customer-detail .bda-order-details-customer-detail-info {
	width: 100%;
}
.bda-order-details .bda-order-details-customer-detail .bda-order-details-customer-detail-info input[type="text"], 
.bda-order-details .bda-order-details-customer-detail .bda-order-details-customer-detail-info textarea{
	width: 100%;
	max-width: 400px;
}
.bda-order-details .bda-order-details-customer-detail .bda-order-details-customer-detail-info #js-bda-order-details-customer-detail-info-gmap {
	height: 400px;
}
.bda-order-details .bda-order-details-cart-detail {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
.bda-order-details .bda-order-details-cart-detail thead tr {
	border-bottom: 2px solid #ccc;
}
.bda-order-details .bda-order-details-cart-detail thead tr th {
	text-align: left;
	padding: 10px;
}
.bda-order-details .bda-order-details-cart-detail tbody tr {
	border-bottom: 1px solid #ccc;
}
.bda-order-details .bda-order-details-cart-detail tbody tr:hover {
	background: #f7f7f7;
}
.bda-order-details .bda-order-details-cart-detail tbody tr td {
	padding: 10px;
}
.bda-order-details .bda-order-details-summary {
	width: 100%;
}
.bda-order-details .bda-order-details-summary > div {
	margin-bottom: 10px;
}
.bda-order-details .bda-order-details-summary .bda-order-details-summary-label {
	font-weight: bold;
}
.bda-order-details .bda-order-details-summary .bda-order-details-summary-info {
	width: 100%;
}
.bda-order-details .bda-order-details-summary .bda-order-details-summary-info input[type="text"] {
	width: 100%;
	max-width: 400px;
}


.bda-menu-details {}
.bda-menu-details > div {
	margin-bottom: 10px;
}
.bda-menu-details .bda-menu-details-label {
	font-weight: bold;
}
.bda-menu-details .bda-menu-details-info {
	width: 100%;
}
.bda-menu-details .bda-menu-details-info input[type="text"] {
	width: 100%;
	max-width: 320px;
}


.bda-form-details {}
.bda-form-details .bda-form-details-item {
	width: 100%;
	margin-bottom: 15px;
}
.bda-form-details .bda-form-details-item .bda-form-details-item-field {}
.bda-form-details .bda-form-details-item .bda-form-details-item-info {}
.bda-form-details .bda-form-details-item .bda-form-details-item-info input[type="text"] {
	width: 100%;
	max-width: 300px;
}
.bda-form-details .bda-form-details-item .bda-form-details-item-control {}


.bda-flash {
	margin-bottom: 20px;
}
.bda-flash .bda-flash-message {
	border-left: 2px solid;
	padding: 2px 10px;
}
.bda-flash .bda-flash-message p span {
	font-weight: bold;
}
.bda-flash .bda-flash-message.bda-flash-message-success {
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d;
}
.bda-flash .bda-flash-message.bda-flash-message-warning {
	color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #8a6d3b;
}
.bda-flash .bda-flash-message.bda-flash-message-error {
	color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}


